body {
    background: var(--background-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 80vw;
}

input,button {
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    margin: 2px;
    width: -webkit-fill-available;
}